.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container p {
  margin: 10px 0px 20px 0px;
  font-weight: 500;
}

.link {
  display: block;
  padding: 10px 12px;
  border-radius: 4px;
  background-color: black;
  color: white;
  text-align: center;
}
